In [2]:
import sqlite3
import csv
import pandas as pd

## Data Pre-processing

In [3]:
sqlite_file = 'review.db'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [4]:
c.execute("drop table Rating;")
c.execute("create table Rating(ID int NOT NULL, Rating int, primary key (ID));")

In [5]:
c.execute("drop table Comments;")
c.execute("create table Comments(ID int NOT NULL, Comments varchar(255));")
#, primary key (ID), FOREIGN KEY (ID) REFERENCES Rating(ID)

In [6]:
with open('id_rating.csv','rt') as rating:
    dr = csv.DictReader(rating) # comma is default delimiter
    to_db = [(i['ID'], i['Rating']) for i in dr]

c.executemany("INSERT INTO Rating (ID, Rating) VALUES (?, ?);", to_db)

In [7]:
with open('id_comments.csv','rt',errors='ignore') as comment:
    dr1 = csv.DictReader(comment) # comma is default delimiter
    to_db1 = [(i['ID'], i['Comment']) for i in dr1]

c.executemany("INSERT INTO Comments (ID, Comments) VALUES (?, ?);", to_db1)

In [26]:
c.execute("select * from Comments limit 30")

In [11]:
df = pd.read_sql_query("select c.ID, c.Comments, r.Rating from Comments c INNER JOIN  Rating r ON c.ID = r.ID;", conn)
df.to_csv('comments_rating.csv', sep='\t')